<h2>Laisser un commentaire</h2>

<div class="well">
<div class="row">
    <div class="col-xs-8">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name, "Vote nom", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            {{ form_errors(form.name) }}

        <div class="col-xs-6">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>

     
        <div class="form-group">
            {{ form_label(form.message, "Votre commentaire", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            {{ form_errors(form.message) }}
        <div class="col-xs-6">
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        {{ form_row(form.post) }}
        {{ form_widget(form._token) }}
        {{ form_widget(form.save, { 'label': 'Envoyez' ,'attr': {'class': 'btn btn-default'}}) }}
    </div>
</div>
</div>