{% extends "layout.twig" %}


{% block content %}
    
<section>
<br>    
<h1>Les photos de couple</h1>
<br>
<p>Les photos de couples sont un moment privilégié durant lequel vous allez vous retrouver tous les deux.</p>

<h2>Mon fonctionnement</h2>

    <p>Pour un bon fonctionnement, quelques mois avant nous aurons pris le temps d’organiser ce moment. 
    En fonction de votre planification, nous choisissons et fixons ensemble une date. 
    Si dans un souci de temps les photos de couples ne pouvaient se faire, la séance peut toujours être reportée au lendemain ou quelques jours après. 
    Pas d’inquiétude! Mon premier souhait est que vous viviez et profitez de votre journée dans son intégralité.
    Le choix du lieu est le votre. Si vous n'avez pas d'idées ou d'envies particulières, je peux vous soumettre des idées ou vous faire visualiser mes books.
    Je peux suivant le thème vous fournir des accessoires pour agrémenter vos photos.</p>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-698333_1280.jpg")}}" alt="mariés avec des confettis">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-609105_1920.jpg")}}" alt="mariés s'embrassant au bord d'un lac">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/bride-458119_1280.jpg")}}" alt="mariés devant mur en pierre">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/bride-526331_1280.jpg")}}" alt="mariés devant une grange">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/in-love-1071325_1920.jpg")}}" alt="mariés sur une voiture">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-1183272_1280.jpg")}}" alt="pose de mariés">
    </div>

</div>  

    <div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-443600_1280.jpg")}}" alt="marié qui fait tourner la mariée">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-1235557_1280.jpg")}}" alt="mariés devant l'océan">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-1255520_1280.jpg")}}" alt="mariés sentant un bouquet">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-kiss-1566273_1920.jpg")}}" alt="mariés avec des hirondelles">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-609105_1920.jpg")}}" alt="mariés avec un bouquet de fleur bleu et blanc">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/marriage-1341525_1920.jpg")}}" alt="marié qui embrasse la mariee">
    </div>

</div>  

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/bride-411400_1280.jpg")}}" alt="les mariés faisant la brouette">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/life-863708_1920.jpg")}}" alt="calins des mariés avec mariée de dos">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/bride-and-groom-974845_1920.jpg")}}" alt="cache-cache des mariés derrière un arbre">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/love-951490_1920.jpg")}}" alt="pique-nique des mariés au bord de l'eau">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/wedding-shoes-1470677_1920.jpg")}}" alt="chaussures des mariés">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/couple/bride-1453890_1920.jpg")}}" alt="mariés sous un parapluie">
    </div>

</div>   


<a class="btn btn-default glyphicon glyphicon-arrow-left" aria-hidden="true" href="{{ path('studio_site_wedding')}}" role="button"> Retour</a> 

<br>        
</section>
{% endblock %}