{% extends "layout.twig" %}


{% block content %}
    
<section>
<br>    
<h1>Reportage mariage au fil de la journée...</h1>
<br>

<h2>Photos des préparatifs</h2>

    <p>Les préparatifs sont souvent mis de côté. Or ils sont une source de photographies inépuisable et de détails à mettre en valeur. 
    Mais aussi à la fois esthétique, drôle et chargé d’anecdotes, ce sont de grands moments à ne pas rater ! 
    La grâce et l’esthétisme sont à l’honneur et je ne porterais jamais atteinte à votre intimité.</p>

<h2>Photos de la cérémonie civile et religieuse</h2>

    <p>En bon professionnel, je vais au-devant de chaque responsable de la cérémonie civile et religieuse. 
    Pour me présenter et connaître les éventuelles restrictions et contraintes, de manière à ne pas entacher le protocole. 
    Dans la situation des cérémonies civiles et religieuses, je me place régulièrement face aux mariés, et donc face aux invités. 
    Un simple rappel à l’inconscient de tous, qu’un photographe de mariage professionnel est sur place, qu’il est payé pour ça et que tonton Albert ne doit ni bousculer ni lui mettre un coup de flash dans l’objectif. 
    Pas de flicages, ni de sévérité, vos invités sont aussi là pour réaliser leurs propres souvenirs et passer un agréablement moment. 
    À l’office religieux, avec les conseils du célébrant, je me placerai de façon stratégique de manière à ne pas nuire au cérémonial et réaliser les plus belles photos. 
    L’entrée et la sortie sont des moments incontournables que j'ai conscience de ne pas rater. Tel est mon devoir tout le long de cette journée.</p>

<h2>Photos à la volée</h2>

    <p>Les photos à la volée sont des photos prises sur le vif, de vos invités au moment du vin d’honneur en train de profiter d’une période de détente après les différents moments solennels.
    Ces prises de vues refléteront les moments de joies et de rires de vos convives. La discrétion et les bonnes relations sociales de votre photographe sont à l’honneur.</p>

<h2>Photobooth</h2>

    <p>Il est souvent décevant de revoir ses invités photographiés à table, portant à leur bouche une fourchette ou le visage caché par un verre.
    Le photobooth est une alternative ludique et créé une animation pour vos invités. C’est un atelier photo organisé et installé par moi sur le lieu de réception. 
    C’est une animation photographique, destinée à vos invités qui souhaitent se faire photographier. Des accessoires peuvent être fournis selon le thème de votre mariage, ou vos envies, comme des ardoises pour laisser un petit mot, façon livre d’or. 
    Cet atelier photo, également appelé dans une variante plus sobre open studio, peut-être un complément d’animation pour vos invités pendant les pauses repas, venant se faire immortaliser devant un photographe ou de manière automatisée, avec déclencheur à distance sans fil.
    J'amène, lumières et fonds, à vous d’accessoiriser la séance en fonctions de vos désirs et du thème de votre mariage.</p>


<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/wedding/day/flowers-837159_1920.jpg")}}" alt="bouquet de mariée">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/wedding/day/make-up-1155013_1280.jpg")}}" alt="mariée se faisant maquiller">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/wedding/day/grooms-989873_1920.jpg")}}" alt="mise d'alliance">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/shoes-634525_1280.jpg")}}" alt="ballerines blances datées du jour du mariage">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img  class="image_paysage thumbnail"src="{{ asset("images/wedding/day/instagram-1355473_1280.jpg")}}" alt="coiffure de mariée">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/cutlery-1375780_1280.jpg")}}" alt="table de repas de mariage">
    </div>

</div>  

 <div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/wedding-1386553_1920.jpg")}}" alt="gateau de mariage">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/wedding-322034_1280.jpg")}}" alt="remise d'alliance en noir et blanc">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/wedding-dress-646290_1280.jpg")}}" alt="magasins de robes de mariées">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/wedding-352947_1920.jpg")}}" alt="cérémonie à l'église de mariage">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/marriage-918864_1920.jpg")}}" alt="soirée de mariage à l'exterieur">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail" src="{{ asset("images/wedding/day/wedding-725434_1280.jpg")}}" alt="danse des mariés">
    </div>

</div>   


<a class="btn btn-default glyphicon glyphicon-arrow-left" aria-hidden="true" href="{{ path('studio_site_wedding')}}" role="button"> Retour</a> 
<br>       
</section>
{% endblock %}