{% extends "layout.twig" %}


{% block content %}
    
<section>
<br>
<h1>Le portrait de famille</h1>
<br>
<h2>Moments de joie</h2>

    <p>Jeunes parents, anniversaires .... ou juste ces doux moments en famille.<br>
    Dans ce monde d’agitation, il est important de faire de notre famille le centre de notre vie et la première de nos priorités. 
    Passer un bon moment entouré de ses proches est source de joie inestimable.</p>

<h2>Réunissez ceux que vous aimez</h2>

    <p>Des rires, du bonheur, de la tendresse, de l’émotion…<br>
    C’est ce que vous allez ressentir pendant votre séance de photographie...<br>
    Réunissez votre famille et venez passer avec nous de purs moments de bonheur. Vous repartirez avec pleins souvenirs pour décorer les murs de votre maison.</p>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-1237701_1920.jpg")}}" alt="famille à 3 noir et blanc">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/veterans-1054320_1920.jpg")}}" alt="famille de marin">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-521551_1280.jpg")}}" alt="famille à 5 allongés habillés en rouge">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/naked-1434723_1920.jpg")}}" alt="famille à 3 habillés en jeans">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/mom-20666_1280.jpg")}}" alt="famille à 3 habillés en rose">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-1542595_1280.jpg")}}" alt="famille à 3 sur un pont en noir et blanc">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-1350754_1920.jpg")}}" alt="famille à 3 en habits traditionnels">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-1016311_1920.jpg")}}" alt="famille à 4 sur un banc">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-562731_1920.jpg")}}" alt="famille à 3 dans un touc-touc">
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/family-629924_1280.jpg")}}" alt="famille à 5 sur escaliers d'une maison">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/picnic-644278_1920.jpg")}}" alt="famille à 4 en pic-nic">
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <img class="image_paysage thumbnail " src="{{ asset("images/adult/family/sunsets-1328102_1920.jpg")}}" alt="famille à 4 au coucher du soleil devant un lac">
    </div>

</div>


<a class="btn btn-default glyphicon glyphicon-arrow-left" aria-hidden="true" href="{{ path('studio_site_portraits')}}" role="button"> Retour</a> 
<br>
</section>
{% endblock %}