{% extends "layout.twig" %}


{% block content %}
    
<section>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      
    <div class="item active">
        <a href="{{ path('studio_site_family')}}"><img src="{{ asset("images/caroussel/family-1350754_1920.jpg")}}" alt="famille à trois"></a>
    </div>
       
    <div class="item">
        <a href="{{ path('studio_site_couple')}}"><img src="{{ asset("images/caroussel/wedding-322034_1280.jpg")}}"  alt="couple mariés"></a>
    </div>
      
    <div class="item">
        <a href="{{ path('studio_site_kids')}}"><img src="{{ asset("images/caroussel/paternity-633445_1280.jpg")}}"  alt="bébé allongé"></a>
    </div>
      
    <div class="item">
        <a href="{{ path('studio_site_group')}}"><img src="{{ asset("images/caroussel/sports-1482019_1280.jpg")}}" alt="groupe mariage tir à la corde"></a>
    </div>
     
    <div class="item">
        <a href="{{ path('studio_site_adult')}}"> <img src="{{ asset("images/caroussel/woman-1031533_1280.jpg")}}"  alt="femme"></a>
    </div>
          
    <div class="item">
        <a href="{{ path('studio_site_day')}}"><img src="{{ asset("images/caroussel/wedding-322034_1280.jpg")}}"  alt="alliance"></a>
    </div>
     
  </div>
  
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>
{% endblock %}