{% extends "layout.twig" %}


{% block content %}
    
<section>
<br>
<h1>Le portait d'enfant</h1>
<br>
<h2>La première année de bébé</h2>

    <p>Pas un jour ne se passe sans une nouveauté, une étape franchie, un nouveau progrès. 
    La position assise permet à votre bébé d’aborder le monde les mains en avant, avide de découvertes.
    Cette nouvelle motricité ne va lui permettre d’acquérir de nouveaux mouvements dont il est très fier : applaudir, dire au revoir avec la main, faire les petites marionnettes, emboîter des objets...
    C’est une période où votre enfant aura en permanence un objet à la bouche. 
    Plutôt que de tenter de le lui enlever pour faire une « belle » photo, n’hésitez pas à documenter cette phase importante de sa petite enfance.
    Chez certains enfants, la période statique laisse rapidement la place au crapahutage : ils rampent, ils marchent à quatre pattes, bref ils explorent...
    Vous allez devoir vous habituer à suivre votre enfant à la trace et à photographier un bébé en mouvement.
    Ses sourires auront sans aucun doute une place centrale dans vos images.</p>

    <div class="row">

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/kids/brothers-457234_1280.jpg")}}" alt="grand frère et bébé">
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/kids/paternity-633453_1280.jpg")}}" alt="bébé avec bonnet">
            </div>

            <div class="col-xs-12 col-sm-4 ">
               <img class="image_paysage thumbnail " src="{{ asset("images/kids/baby-1542911_1280.jpg")}}" alt="bébé avec fleurs">
            </div>

    </div>

    <div class="row">

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/kids/baby-1546906_1920.jpg")}}" alt="bébé">
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/kids/paternity-633445_1280.jpg")}}" alt="bébé">
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/kids/baby-784609_1920.jpg")}}" alt="bébé allongé">
            </div>

    </div>



<h2>Quand bébé devient enfant...</h2>

    <p>Avoir un bébé, c'est avoir une relation fusionnelle, dépourvue de conflits, où l'éducation n'est encore qu'accessoire et où les seules préoccupations sont l'allaitement , le sommeil et la santé.
    Mais vers 18 mois, l'enfant qui, en général sait marcher, commence à se séparer de ses parents et casse cet état fusionnel.
    Il marche, commence à parler et se rend compte qu'il peut faire des choses par lui-même.
    Il se rend compte qu'il veut certaines choses que les adultes lui refusent. Le "non" entre alors dans son langage...
    Votre bébé est alors devenu un enfant et ne cessera de grandir et s'affirmer, photographiez tous ces souvenirs et immortalisez-les.</p>

    <div class="row">

        <div class="col-xs-12 col-sm-4 ">
            <img class="image_paysage thumbnail " src="{{ asset("images/childs/boy-1397818_1280.jpg")}}" alt="garçon">
        </div>

        <div class="col-xs-12 col-sm-4 ">
            <img class="image_paysage thumbnail " src="{{ asset("images/childs/portrait-804062_1280.jpg")}}" alt="fille avec couronne de fleur">
        </div>

        <div class="col-xs-12 col-sm-4 ">
          <img class="image_paysage thumbnail " src="{{ asset("images/childs/girl-1252739_1920.jpg")}}" alt="fille rousse">
        </div>

    </div>

    <div class="row">

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/childs/children-1160096_1920.jpg")}}" alt="petite fille avec lunette de soleil">
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/childs/portrait-317041_1280.jpg")}}" alt="garçon se cachant les yeux">
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <img class="image_paysage thumbnail " src="{{ asset("images/childs/wreath-842237_1920.jpg")}}" alt="fille assise">
            </div>

    </div>
          
<a class="btn btn-default glyphicon glyphicon-arrow-left" aria-hidden="true" href="{{ path("studio_site_portraits") }}" role="button"> Retour</a>
<div class="row"><br></div>        
</section>
{% endblock %}